@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');

@font-face {
    font-family: wearealien;
    src: url(../media/AlienAlphabet-nRRqJ.otf);
}

* {
    font-family: 'wearealien', sans-serif;
    transition: all 0.3s ease-in-out;
}

body >*:not(.dont-blur) {
    filter: none;
}